node_modules
npm-debug.log
pnpm-debug.log
.env
.env.local
dist
.git
.gitignore
README.md
docs
test
__tests__
coverage
.vscode
.idea
*.swp
.DS_Store
logs
scripts
Dockerfile*
docker-compose*.yml
.dockerignore

